RewriteEngine on

# Reject requests that don't have an HTTP_HOST header
RewriteCond %{HTTP_HOST} ^$
RewriteRule ^.* - [L,F]

# Map old domains to ridenet.net with 301 status (moved permanently)
# map *.ridenet.cc to *.ridenet.net
RewriteCond %{HTTP_HOST} ^(.*)ridenet.cc$
RewriteRule ^(.*)$ http://%1ridenet.net/$1 [R=301,L]
# map *.ridenet.org to *.ridenet.net
RewriteCond %{HTTP_HOST} ^(.*)ridenet.org$
RewriteRule ^(.*)$ http://%1ridenet.net/$1 [R=301,L]
# map *.velobug.com to *.ridenet.net
RewriteCond %{HTTP_HOST} ^(.*)velobug.com$
RewriteRule ^(.*)$ http://%1ridenet.net/$1 [R=301,L]

# Remove www from ridenet.net domains
RewriteCond %{HTTP_HOST} ^www.ridenet.(local|net)$
RewriteRule ^(.*)$ http://ridenet.%1/$1 [R=301,L]

# Consider Biking Landing page
RewriteRule ^cb/?$ index.php?s=cb [L]
# SBB Landing page
RewriteRule ^sbb/?$ index.php?s=sbb [L]

# API mappings
RewriteRule ^api/rider-info/([^/]+)$ api/get-rider-info.php?email=$1 [L]
RewriteRule ^api/verify-credentials$ api/verify-credentials.php [L,QSA]
RewriteRule ^api/rides/([^/\.]+)$ api/get-rides.php?rider-id=$1 [L,QSA]
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^api/ride/([^/\.]+)$ api/post-ride.php?ride-log-id=$1 [L,QSA]
RewriteCond %{REQUEST_METHOD} DELETE
RewriteRule ^api/ride/([^/\.]+)$ api/delete-ride.php?ride-log-id=$1 [L,QSA]
RewriteRule ^api/about$ api/about.php [L]

# Dynamic Image mappings
RewriteRule ^imgstore/rider-portrait/([^/]+)/([^/]+).jpg$ dynamic-images/rider-portrait.php?T=$1&RiderID=$2 [L]
RewriteRule ^imgstore/rider-action-shot/([^/]+)/([^/]+).jpg$ dynamic-images/rider-action-shot.php?T=$1&RiderID=$2 [L]
RewriteRule ^imgstore/rider-action-shot/sm/([^/]+)/([^/]+).jpg$ dynamic-images/rider-action-shot-sm.php?T=$1&RiderID=$2 [L]
RewriteRule ^imgstore/body-bg/([^/]+).jpg$ dynamic-images/body-bg-image.php?T=$1 [L]
RewriteRule ^imgstore/banner/([^/]+).jpg$ dynamic-images/page-banner.php?T=$1 [L]
RewriteRule ^imgstore/team-logo/([^/]+).png$ dynamic-images/team-logo.php?T=$1 [L]
RewriteRule ^imgstore/team-logo/sm/([^/]+).png$ dynamic-images/team-logo-sm.php?T=$1 [L]
RewriteRule ^imgstore/team-logo/fit/([^/]+).png$ dynamic-images/team-logo-fit.php?T=$1 [L]

# Make friendly URLs
RewriteRule ^login$ login.php [L,QSA]
RewriteRule ^rider/([^/\.]+)$ profile.php?RiderID=$1 [L,QSA]
RewriteRule ^profile$ profile.php [L,QSA]
RewriteRule ^edit-race-report$ edit-race-report.php [L,QSA]
RewriteRule ^update-results$ update-results.php [L,QSA]
RewriteRule ^roster$ roster.php [L,QSA]
RewriteRule ^events$ events.php [L,QSA]
RewriteRule ^event/([^/\.]+)$ event-detail.php?EID=$1 [L,QSA]
RewriteRule ^rides$ rides.php [L,QSA]
RewriteRule ^ride/([^/\.]+)$ ride-detail.php?CID=$1 [L,QSA]
RewriteRule ^racing$ racing.php [L,QSA]
RewriteRule ^racing-rider-rank$ racing-rider-rank.php [L,QSA]
RewriteRule ^results/([^/\.]+)$ results.php?RaceID=$1 [L,QSA]
RewriteRule ^commuting$ commuting.php [L,QSA]
RewriteRule ^manage$ team-manager.php [L,QSA]
RewriteRule ^syslog$ syslog.php [L,QSA]
RewriteRule ^admin$ sysmanager.php [L,QSA]
RewriteRule ^rider-stats$ rider-stats.php [L,QSA]
RewriteRule ^team-stats$ team-stats.php [L,QSA]
RewriteRule ^rider-groups/([^/\.]+)$ rider-groups.php?g=$1 [L,QSA]
RewriteRule ^map/([^/\.]+)$ map.php?RideLogID=$1 [L,QSA]
RewriteRule ^bike-bus$ bike-bus.php [L,QSA]
RewriteRule ^clothing$ clothing.php [L,QSA]
RewriteRule ^cbdb$ cbdb.php [L,QSA]
RewriteRule ^change-pw$ change-pw.php [L,QSA]
RewriteRule ^contact$ contact.php [L,QSA]
RewriteRule ^about$ about.php [L,QSA]

# If there is a team sub-domain or team domain, route "/" requests to home.php
RewriteCond %{HTTP_HOST} !^(www\.)?ridenet.(local|net)$
RewriteRule ^/?$ home.php [L,QSA]

# for ridenet.net, route "/" requests to index.php
RewriteCond %{HTTP_HOST} ^(www\.)?ridenet.(local|net)$
RewriteRule ^/?$ index.php [L,QSA]
